@font-face {
	font-family: 'Source Sans Pro Semibold';
	src: url('../SourceSansPro-Semibold.html');
}

body {
	font-family: 'Source Sans Pro Semibold', serif; 
	color: white;
	font-style: normal;
	text-shadow: 1px 1px 0px rgba(8,230,255,100), -1px -1px 0px rgba(255,0,0,100);
}

#center {               
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: fill;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}


a {
	color: white;
	text-decoration:  none;
}

a:hover {
	color: #8c8692;
}